/*Brenna Curtis, Banana Program*/

/*BASIC SETUP*/
html{
  background-color: #f1e8b8;
}

body{
  background-color: #7180AC;
  width: 80%;
  min-width: 800px;
  border-radius: 15px;
  padding: 1%;
  margin: 0 auto;
  color: #CCD1E1;
}

/*TYPOGRAPHY*/
h1{
  font-family: 'Fredoka One', cursive;
}
p, h2{
  font-family: 'Roboto', sans-serif;
}
h1, h2{
  text-align: center;
  color: #CCD1E1;
  text-shadow: 2px 2px #191919;
}

h2{
  color: #98A3C3;
}

#out{
  color: #CCD1E1;
  text-align: center;
}

/*HEADER FORMATTING*/

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  padding: 1%;
  margin-bottom: 10px;
}

main, header, article, footer, section {
  padding: 1%;
}
header, main, footer{
  background-color: #2B4570;
  border-radius: 15px;
}

#pic{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*SLIDER GO BRRRRRR*/
.slidecontainer {
  width: 99%;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 7px;
  background: #f1e8b8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #A37A74;
  border-radius: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #191919;
  cursor: pointer;
}
